<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MonoSimulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
        <MonoSimulation.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TileWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TileHeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TileRows" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TileColumns" serializeAs="String">
                <value>3</value>
            </setting>
        </MonoSimulation.Properties.Settings>
    </applicationSettings>
</configuration>
